body {
  background-image: url(./ノート.png);
  background-size: 50%;
}

.file h2 {
  margin-top: 50px;
  padding-top: 20px;
  margin-left: -10px;
}

.file {
  margin-left: 200px;
}

li {
  list-style: none;
}

.filepaste {
  margin-top: -10px;
}

li {
  font-size: 20px;
  color: blue;
}
a {
  color: #808080;
  text-decoration: none;
}
